h1{
font-size:150%;
}
body.x
{

   margin-left:350px;
}


h2,h3,h4,h6,h7{
font-size:90%;
color:#00cc33;
margin-bottom:0em;
}

p
{
font-size:80%;
color:#787878;
margin-top:0em;
}

ul
{
color:#787878;
font-size:80%;
}

h5
{
font-size:120%;
color:#404040;
margin-bottom:0em;
}

#p1
{
font-size:90%;
font-weight: bold;
color:#00cc33;
}

h7 {
margin-bottom:0em;
font-size:100%;
   display: block;
   font-weight: bold;
}

