
h5{
color : green;
text-decoration:bold;
}


P{ color:black;
}
ul{

list-style-type :square;
color:black;
font-size:18;
text-decoration:bold;
list-style-position: center;

}
#table1 {
    margin: 0 auto;
   
}


#toAlign {
    text-align: center;
    vertical-align: middle;
}





