body.x
{

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}

#list
{
  margin-left: 40px;
  font-size:120%;
}

#hh 
{
font-size:135%;
margin-left: 80px;
color:#00cc33;
}

#pp
{
color:#787878;
margin-left: 80px;
font-size:90%;
}