body.x
{

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}

#link{
background-color:#F0FFF0;
}
#links{
background-color:#98BF21;
}
a{
text-decoration:none;
height:40px;
padding:20px;
}

h1
{
font-size:130%;
margin-bottom:0em;
}
p
{
font-size:80%;
color:#787878;
margin-top:0em;
}
#pg1
{
font-size:80%;
color:#00cc33;
}
#para
{font-weight: bold;

}

#gr1
{
color:#00cc33;
font-weight: bold;
}

#menu{
font-weight: bold;
}

#hc
{
color:#00cc33;}